@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
@import "./globals.css";

.logo {
  text-align: center;
  padding: 70px 0;
}

.container {
  display: flex;
  align-items: center;
  height: 358px;
  max-width: 1440px;
  margin: 0 auto;
}

.bg-full {
  background: url("../assets/tablet/image-hero.png") no-repeat center center /
    contain;
  height: 100%;
  width: 820px;
  max-width: 100%;
  display: none;
}

.bg-1 {
  background: url("../assets/desktop/image-hero-left.png") no-repeat 0 0;
  flex: 1;
  height: 100%;
  margin-left: -30px;
}

.bg-2 {
  background: url("../assets/desktop/image-hero-right.png") no-repeat bottom
    right;
  flex: 1;
  height: 100%;
  margin-right: -30px;
}

.middle {
  flex-basis: 540px;
  text-align: center;
}

.middle h1 {
  margin: 0 auto;
  font-size: 64px;
  font-weight: 900;
  line-height: 64px;
  max-width: 440px;
  color: var(--dark-blue);
}

.middle p {
  line-height: 26px;
  color: var(--grey);
  padding: 30px 0;
}

.buttons > * {
  margin: 0 10px;
}

.pictures {
  max-width: 1110px;
  height: 242px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.pic {
  border-radius: 10px;
  margin: 10px;
  flex: 1;
}

.pic-1 {
  background: url("../assets/desktop/image-woman-in-videocall.jpg") no-repeat
    center center / cover;
}
.pic-2 {
  background: url("../assets/desktop/image-women-videochatting.jpg") no-repeat
    center center / cover;
}
.pic-3 {
  background: url("../assets/desktop/image-men-in-meeting.jpg") no-repeat center
    center / cover;
}
.pic-4 {
  background: url("../assets/desktop/image-man-texting.jpg") no-repeat center
    center / cover;
}

.modern-content {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 25px;
}

.modern-content h2 {
  margin: 0 auto 30px;
  font-size: 40px;
  line-height: 44px;
  max-width: 445px;
  color: var(--dark-blue);
}

footer {
  padding: 115px 25px;
  background: url("../assets/desktop/image-footer.jpg") no-repeat center center /
    cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d97a9e5;
  z-index: 0;
}

.footer-container {
  max-width: 1110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.footer-container > * {
  z-index: 1;
}

.footer-container h2,
.footer-container p {
  color: var(--light-gray);
  flex-basis: 350px;
}

.footer-container h2 {
  font-size: 40px;
  line-height: 44px;
}

.footer-container p {
  line-height: 26px;
}

.footer-container div {
  text-align: center;
  flex-basis: 198px;
}

@media (max-width: 1440px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .middle {
    max-width: 900px;
  }
  .bg-1,
  .bg-2 {
    display: none;
  }
  .bg-full {
    display: block;
    min-height: 300px;
  }
}

@media (max-width: 1140px) {
  .middle {
    max-width: 457px;
  }

  .footer-container {
    flex-direction: column;
    max-width: 573px;
    text-align: center;
  }
  .footer-container h2,
  .footer-container p {
    flex-basis: 88px;
  }
  .footer-container h2 {
    max-width: 457px;
  }
  .footer-container div {
    flex-basis: auto;
  }
}

@media (max-width: 860px) {
  .pictures {
    max-width: 768px;
    height: 156px;
  }
}

@media (max-width: 700px) {
  .pictures {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
  }

  .pic {
    flex-basis: 151px;
    height: 143px;
    flex-grow: 1;
  }
  .bg-full {
    min-height: 153px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons > * {
    margin: 10px 0;
    max-width: max-content;
  }
}
